<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ohdab.member.repository.mapper.MemberMapper">
    <select id="findAllStudent" parameterType="java.util.List" resultType="com.ohdab.mistakenote.service.dto.GetAllMistakeNoteInfoDto$Response$StudentInfoDto">
        select member_id as "memberId",
            member_name as "name"
        from MEMBER
        where member_id in
        <foreach collection="list" item="member_id" index="index" separator="," open="(" close=")">
            #{member_id}
        </foreach>
    </select>
</mapper>